.env
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
env/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
.tox/
.nox/
.vscode/
.idea/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.DS_Store
Thumbs.db
__pyscache__/
*.log
